
.container {
  position: relative;
  margin-top: 50px;
  width: 410px;
  height: 970px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .5);
}

img {
  position: absolute;
  width: 350px;
  height: 970px;
  left: 0;
}

.title {
  position: absolute;
  float:center;
  width: 50px;
  left: 120px;
  top: 120px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.container:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 200px;
  left: 80px;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 1 1 1 1px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
  float: right;
}

.container:hover .button {
  opacity: 1;
}
/*
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }*/

  body {
    text-align: center;
	margin:0;
	-webkit-font-smoothing: antialiased;
  }

  a {
    text-decoration: none;
  }

  h1 {
    color: #444;
    font-weight: 800;
    font-size: 2.5em;
	padding:30px;
  }

   /*.buttons-container {
    padding: 50px;
    background: #ebeff2;
    margin: 0 auto;
    max-width: 1024px;
    display: block;
    height: 100vh;
  }*/

  .btn {
    position: relative;
    display: block;
    text-align: center;
    background: #03A9F4;
    color: #fff;
    padding: 20px 20px;
    margin: 30px 0;
    border-radius: .15em;
    cursor: pointer;
    transition: all 0.35s ease;
    overflow: hidden;
    font-size: 1.2em;
	font-weight: 500;
  }

  .btn:after {
    content: '';
    position: absolute;
    bottom: -50%;
    right: -50%;
    z-index: 1;
    overflow: hidden;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.35);
    transition: all 0.35s ease;
  }

  .btn:active:after,
  .btn.dropdown-open:after {
    width: 200%;
    height: 200%;
  }

  .btn:hover {
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1);
  }

  .btn.dropdown-open + .outer-list {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  .dropdown {
    position: relative;
    margin: 0 auto;
    width: 20em;
  }

  .dropdown > .outer-list {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease;
  }

  .dropdown > .outer-list.top {
    align-items: flex-start;
    transform-origin: 50% 0;
  }

  .dropdown > .outer-list.left {
    justify-content: flex-start;
  }

  .dropdown > .outer-list.bottom {
    align-items: flex-end;
    transform-origin: 50% 100%;
  }

  .dropdown > .outer-list.right {
    justify-content: flex-end;
  }

  .dropdown > .outer-list > ul {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: .2em;
  }

  .dropdown > .outer-list > ul li {
    padding: .25em 3em;
    margin: .25em;
    width: 100%;
    cursor: pointer;
    transition: background 0.35s ease;
	font-weight: 500;
	font-size: 1.2em;
	color:#444;
  }

  .dropdown > .outer-list > ul li:hover {
    background: rgba(0, 0, 0, 0.07);
  }
